* {margin: 0;padding: 0;list-style: none;}
body {background:#FFF;}

.dc-404{width: 511px;margin: 100px auto;height:200px;background:url(../Images/404.jpg) no-repeat;}
.dc-404 > p{padding: 100px 0 0 200px;}

#header {
    height:60px;
    margin-bottom: 20px;
    background:#F9F9F9;
    border-bottom: 1px solid #D6D6D6;
}
#header .container {
    position: relative;
}
#footer{
    height:60px;
    color: #333;
    background:#F2F2F2;
    /*    background:url(../Images/footer.jpg) repeat;*/
    margin-top: 20px;
    padding-top: 20px;
    white-space: normal;
    border-top: 1px solid #CCC;
}
#wrap{

}

ul.dc-top-nav{
    position: absolute;
    top: 19px;
    right: 0;
}
ul.dc-top-nav > li{
    width: 90px;
    height:40px;
    line-height: 40px;
    margin-left: 10px;
    float:left;
    position: relative;
    z-index: 999;
    list-style: none;
}
ul.dc-top-nav > li > a{
    border-width: 1px 1px 0;
    border-color: #F9F9F9 #F9F9F9;
    border-style: solid;
    text-align: center;
    display: block;

}
ul.dc-top-nav > li >a:hover,ul.dc-top-nav > li >a:active,ul.dc-top-nav > li.active >a{
    background: #FFF;
    border-width: 1px;
    border-color: #D6D6D6 #D6D6D6 #FFF;
    border-style: solid;
    border-radius: 5px 5px 0 0;
    display: block;
}

ul.dc-top-nav ol{
    display: none;
    width: 200px;
    padding: 20px;
    background: #FFF;
    box-shadow: 0 1px 5px #DDDDDD;
    border: 1px solid #D6D6D6;
    border-radius: 0 0 5px 5px;
    margin-top: -1px;
    position: absolute;
    right: 0;
}
ul.dc-top-nav ol li{
    border-bottom: 1px solid #D6D6D6;
}
ul.dc-top-nav ol li a{
    display: block;
    padding:8px 0;
}





.dc-box {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #CCC;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.dc-tit {
    height: 60px;
    line-height: 60px;
    background: #F2F2F2;
    border-radius: 5px 5px 0 0;
    border-bottom:1px solid #CCC;
    padding-left: 74px;
}
.dc-content {
    padding: 10px;
}
.dc-tit > span {
    position: absolute;
    top:-10px;
    left: 4px;
    height: 64px;
    width: 64px;
    line-height: 76px;
    background: url('../Images/time.png') left center no-repeat;
}
.dc-tit > h4{
    float: left;
    margin: 0;
    line-height: 60px;
}
.dc-tit > small {
    line-height: 90px;
    margin-right: 10px;
}

.dc-prev-next {
    margin-bottom: 10px;
}
.dc-prev-next >small:first-child {
    margin-right: 30px;
}
.dc-prev-next >small:last-child {
    margin-left: 30px;
}
.dc-tab{
    margin-bottom: 0;
    border:none;
}
.dc-tab li a{
    padding:5px 20px;
}

.dc-list{
    background: #FFF;
}